# Node Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables (SECRETOS)
.env
.env.local
.env.*.local
firebase-key.json
fix-key.js
test-*.js
services-account.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*.DS_Store

# Build Output
dist/
build/

# Temporal Files
uploads/
temp/